<!DOCTYPE html>
<!-- Designined by CodingLab | www.youtube.com/codinglabyt -->
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <!--<title> Responsiive Admin Dashboard | CodingLab </title>-->
    <link rel="stylesheet" href="/CSS/Admin/stock.css">
    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="sidebar">
        <div class="logo-details">
            <img
                src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAUpJREFUSEu9lW1NA0EQhp8qoSgAFBQHtArAAaAAUAAooFUAKCB1QB0UB6AA8ia7zXQ6e3u3ybHJ/rqZ99n5vAkjn8nI+vQBXAEz4DRdvekz3TfgveuRXYA58AhMK1FugVtAsINTAjwB1wPTJx+B9k4EaBHPos/AjSV4gNLyOvDl3nxh0+UByueR83gA7gOoiq4G8KmUxnG2twAZvwRCJUA2VXEvnN8uCgtYApcdAEVxl75/AwKrXufAh/Nbpej25kC9fdITILN1Eo8A0jqTkY3gt1DcnCIbwU+qSymCnfYQQKm5ohqEgFqKPEBdpA5Sc/izyWultci1UQmLXGtTW4MaIGxTOXUNWl/Al12Q/74qFMWoyy7ntgVysEn9oPnCabMK5Jeft1POtaIH/XCsiEC66vu8StTnmhuJhsLRNq21XtP3Pj/9JuHs9AegBUgZFAFMjwAAAABJRU5ErkJggg==" />

        </div>
        <ul class="nav-links">
            <li>
                <a href="#" class="active">
                    <i class='bx bx-grid-alt'></i>
                    <span class="links_name">Dashboard</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-box'></i>
                    <span class="links_name">Product</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-list-ul'></i>
                    <span class="links_name">Order list</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-pie-chart-alt-2'></i>
                    <span class="links_name">Analytics</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-coin-stack'></i>
                    <span class="links_name">Stock</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-book-alt'></i>
                    <span class="links_name">Total order</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-user'></i>
                    <span class="links_name">users</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-message'></i>
                    <span class="links_name">Chat</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-heart'></i>
                    <span class="links_name">Favrorites</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-cog'></i>
                    <span class="links_name">Setting</span>
                </a>
            </li>
            <li class="log_out">
                <a href="#">
                    <i class='bx bx-log-out'></i>
                    <span class="links_name">Log out</span>
                </a>
            </li>
        </ul>
    </div>
    <section class="home-section">
        <nav>
            <div class="sidebar-button">
                <i class='bx bx-menu sidebarBtn'></i>
                <span class="dashboard">Stock</span>
            </div>
            <div class="search-box">
                <input type="text" placeholder="Search...">
                <i class='bx bx-search'></i>
            </div>
        </nav>
        <h1>Rable</h1>
        <table>


            <thead>
                <tr>
                    <th>#</th>
                    <th>Product Name</th>
                    <th>Disription</th>
                    <th>Catageory </th>
                    <th>Unit Price</th>
                    <th>Quantity</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                
                <% data.forEach(function(product){ %>
                <tr>
                    <td><%=product.pid%></td>
                    <td><%=product.PName%></td>
                    <td><%=product.Discription%></td>
                    <td><%=product.Catagory%></td>
                    <td><%=product.price%></td>
                    <td><%=product.quantity%></td>
                    <td> <a href="/update/<%= product.pid %>" class="btn btn-primary">Edit</a></td>
                    <td> <a href="/stock/<%= product.pid %>" class="btn btn-danger">Del</a> </td>
                </tr>
                <%})%>
            </tbody>

        </table>

    </section>


    <script src="/script/Admin/stock.js"></script>
</body>

</html>