<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>products</title>

    <!-- owl carousel css file cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">

    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">

    <!-- custom css file link  -->
    <link rel="stylesheet" href="/CSS/user/products.css">
     <link rel="stylesheet" href="/CSS/partials/footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>

<!-- header section starts  -->

<header>

<div class="header-1">

    <a href="#" class="logo"> <i class="fas fa-shopping-bag"></i>  Pets World </a>

    <div class="form-container">
        <form action="">
            <input type="search" placeholder="search products" id="search" /> 
            <label for="search" class="fas fa-search"></label>
        </form>
    </div>

</div>

<div class="header-2">

    <div id="menu" class="fas fa-bars"></div>

    <nav class="navbar">
        <ul>
            <li><a class="active" href="/views/index.html">home</a></li>
            <li><a href="#home">Sorting</a></li>
            <li><a href="#featured">Featured</a></li>
            <li><a href="#gallery">Category</a></li>
            <li><a href="#deal">Deals</a></li>
            <li><a href="#deal">Chat</a></li>
        </ul>
    </nav>

    <div class="icons">
        <a href="#" class="fas fa-heart"></a>
        <a href="/selectedlist" class="fas fa-shopping-cart"></a>
        <a href="#" class="fas fa-user"></a>
    </div>

</div>

</header>

<!-- header section ends -->

<!-- home section starts  -->

<section class="home" id="home">

<div class="home-slider owl-carousel">

    <div class="item">
        <img src="/images/cat1.jpg" alt="">
        <div class="content">
            <h3>Cat Food</h3>
            <p>Here we Provide food for best health care of cats.</p>
            <a href="#"><button class="btn">discover</button></a>
        </div>
    </div>

    <div class="item">
        <img src="/images/cat2.jpg" alt="">
        <div class="content">
            <h3>Dog Food</h3>
            <p>Here we Provide food for best health care of Dogs.</p>
            <a href="#"><button class="btn">discover</button></a>
        </div>
    </div>

    <div class="item">
        <img src="/images/Fish1.jpg" alt="">
        <div class="content">
            <h3>Fish Food</h3>
            <p>Here we Provide food for best health care of Fish.</p>
            <a href="#"><button class="btn">discover</button></a>
        </div>
    </div>

    <div class="item">
        <img src="/images/Birds1.jpg" alt="">
        <div class="content">
            <h3>Birds Food</h3>
            <p>Here we Provide food for best health care of Birds.</p>
            <a href="#"><button class="btn">discover</button></a>
        </div>
    </div>

</div>

</section>

<!-- home section ends -->

<!-- arrival section starts  -->

<section class="arrival" id="arrival">

<h1 class="heading"> <span>Products</span> </h1>

<!-- Cards-->
<!---->
<section class="cards">
    <div class="gallery">
        <% data.forEach(function(item){ %>
        <div class="content1">
            <img src="/images/<%= item.picture %>" alt="image">
            <h3>ID: <%= item.pid %></h3>
            <p>   <%= item.Discription %> </p>
            <h4>Catagory :  <%= item.Catagory %> </h4>
            <h6>$  <%= item.price %></h6>
            <ul>
                <li>
                    <i class="fa fa-star checked"></i>
                </li>
                <li>
                    <i class="fa fa-star checked"></i>
                </li>
                <li>
                    <i class="fa fa-star checked"></i>
                </li>
                <li>
                    <i class="fa fa-star checked"></i>
                </li>
                <li>
                    <i class="fa fa-star "></i>
                </li>
            </ul>
            <button class="buy-1"><a href="/productDetails/<%= item.pid %>">Buy Now</a></button>
        </div>
        <% }); %>
      </div>
    </section>
    <!-- Cards end -->

</section>

<!-- arrival section ends -->

<!-- featured section starts  -->

<section class="feature" id="featured">

<h1 class="heading"> <span> featured product </span> </h1>

<div class="row">

    <div class="image-container">

        <div class="big-image">
            <img src="/images/product_04.jpg" alt="">
        </div>

        <div class="small-image">
            <img class="image-active" src="/images/product_05.jpg" alt="">
            <img src="/images/product_06.jpg" alt="">
            <img src="/images/venison for Dog.jpg" alt="">
            <img src="/images/wallpaper.jpg" alt="">
        </div>

    </div>

    <div class="content">

        <h3>Pets Toys</h3>
        <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <span>(500+) reviews</span>
        </div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda, at!</p>
        <strong class="price">₹1000 <span>₹1500</span> </strong>
        <a href="#"><button class="btn">buy now</button></a>

    </div>

</div>

</section>

<!-- featured section ends -->

<!-- gallery section starts  -->


<!-- deal section starts  -->

<section class="deal" id="deal">

<h1 class="heading"> <span> best deals </span> </h1>

<div class="box-container">

    <div class="box">
        <img src="/images/Background.jpg" alt="">
        <div class="content">
            <h3>latest Assosiries</h3>
            <p>upto 25% off on first purchase</p>
            <a href="#"><button class="btn">explore</button></a>
        </div>
    </div>

    <div class="box">
        <img src="/images/Background.jpg" alt="">
        <div class="content">
            <h3>New Food</h3>
            <p>upto 25% off on first purchase</p>
            <a href="#"><button class="btn">explore</button></a>
        </div>
    </div>

</div>

<div class="icons-container">

    <div class="icons">
        <i class="fas fa-shipping-fast"></i>
        <h3>fast delivery</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi, molestiae?</p>
    </div>

    <div class="icons">
        <i class="fas fa-user-clock"></i>
        <h3>24 x 7 support</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi, molestiae?</p>
    </div>

    <div class="icons">
        <i class="fas fa-money-check-alt"></i>
        <h3>easy payments</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi, molestiae?</p>
    </div>

    <div class="icons">
        <i class="fas fa-box"></i>
        <h3>10 days replacements</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi, molestiae?</p>
    </div>

</div>

</section>

  <!-- Footer Parital -->
  <%- include("../partials/footer")%>
<!-- jquery cdn link  -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- owl carousel js file cdn link  -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

<!-- custom js file link  -->

<script src="/script/user/products.js"></script>
</body>
</html>